@{
    ViewData["Title"] = "ResetPassword";
}

<div class="row mt-5">
    <div class="col-4 mx-auto">
        <div class="card shadow-sm">
            <div class="card-header bg-black text-light">
                <h4 class="text-center">Restablecer contraseña</h4>
            </div>
            <div class="card-body">
                <form class="" method="post" asp-controller="User" asp-action="ResetPassword">
                    <div class="mb-3">
                        <label for="UserName" class="form-label">Por favor indique su Usuario: </label>
                        <input type="text" name="UserName" class="form-control">
                    </div>
                    @Html.ValidationSummary(false, "", new { @class = "text-danger text-center" })
                    <div class="mt-4">
                        <button type="submit" class="btn w-100 btn-outline-primary">Restablecer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


